POSTGRES_USER=poopyuser
POSTGRES_PASSWORD=password1234
POSTGRES_DB=ultimatedatabase
    DATABASE_URL=postgresql+psycopg://timemanager:timemanager_dev@localhost:5432/timemanager
    @localhost:5432/timemanager
SECRET_KEY=123456787f4dsf4s8f4dsf8d48dsfs4f
